<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://www.kthnxbai.co.uk/static/favicon.ico" type="image/x-icon" /> 
    <title>Kthnxbai 2.0</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% include "footer.html" %}
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
