{% extends "base.html" %}                                               
{% block content %}                                                             

<a id="back" href="/">Back to Gallery</a><br/>
<div class="nav">
    {% if image.prev() %}
        <a id="prev" href="{{ url_for('images.detail', filename=image.prev().filename) }}">
            Prev
        </a>
    {% else %}
        Prev
    {% endif %}
 | 
    {% if image.next() %}
        <a id="next" href="{{ url_for('images.detail', filename=image.next().filename) }}">
            Next
        </a>
    {% else %}
        Next
    {% endif %}
    <img src="{{ url_for('static', filename='imgs/info-icon.gif') }}" class='info'/>
    <br/>                                                                           

Viewed: {{ image.num_views }} times<br/>
Click image for random<br/>

</div>
<div class="position">
    <div class="detail">
        <a id='random' href="/detail/{{ image.get_random() }}">
    <img src="{{ image.fullsize() }}"/>
</a>
</div>
<br/>
<a href={{ image.fullsize() }}>
    http://kthnxbai.co.uk{{ image.fullsize() }}
</a>
</div>

{% endblock %}

{% block js_footer %}

<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.powertip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/detailkeys.js') }}"></script>

{% endblock %}
