{% extends "base.html" %}

{% block content %}
    
{% macro render_pagination(pagination, endpoint) %}
<div id=navigation>
    | 
  {%- for page in pagination.iter_pages() %}
    {% if page %}
        {% if page != pagination.page %}
            <a href="{{ url_for(endpoint, pagenum=page) }}">{{ page }}</a>
        {% else %}
            <strong>{{ page }}</strong>
            {% endif %}
            | 
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}
<form action="" method="post" name="login" class="sort">
    {{form.hidden_tag()}}
    <p>
    Sort by: {{ form.sort_by(**{'onChange':'set_sort_by();'}) }} 
    Sort order: {{ form.sort_order(**{'onChange':'set_sort_order();'}) }}
    Num per page: {{ form.num_per_page(**{'onChange':'set_num_per_page();'}) }}
    <span id="activity">Rejigging images...</span>
</form>
<a href="/latest.atom" class="rss">rss</a>
<br class='clearing'/>
{{ render_pagination(images, 'images.list') }}

<div id="images">
        {% include "images/gallery.html" ignore missing %}
    </div>
{% endblock %}

